@model CategoriumModel;
@{
    ViewData["Tittle"] = "Eliminar";
    Layout = "~/View/Shared/_Layout.cshtml";
}


<div class="card col-8">
    <div class="card-header">
        Eliminar categoria
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Eliminar" asp-controller="ControlCategoria" method="post">
            <input asp-for="IdCategoria" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar la categoria:  @Html.DisplayTextFor(m=>m.Tipo)?
            </div>

            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-danger mb-3 btn-sm">Elimnar</button>
            </div>

        </form>
    </div>
</div>